<div style="display: grid; gap: 0.5rem;"
  [style.grid-template-columns]="'repeat(' + headersCounter + ', 1fr)'">

    <div class="grid-row">
        @for (header of headers; track header) {
            <div class="cell-title">
                {{ header }}
            </div>
        }
    </div>
    @for (obj of templateData().objects; track obj.id; let i = $index) {
        <div class="grid-row">
            <div class="cell-title">
                {{ obj.description }}
            </div>
            @for (mov of obj.movimientos; track mov.id) {
                <div class="cell-content">
                    <input 
                        type="number"
                        class="cell-input"
                        [value]="mov.amount"
                        (input)="updateAmount(obj.id, mov.id, $event.target.value)"
                    />
                </div>
            }
            <div class="total-column">
                {{ objectTotals()[i] }}
            </div>
        </div>
    }
    <!-- Footer de totales por movimiento -->
    <div class="grid-row">
        <div class="cell-title">Totales</div>

        @for (total of movementTotals(); track $index) {
        <div class="cell-footer">
            {{ total }}
        </div>
        }

        <div class="cell-title"></div>
    </div>

</div>