<div style="display: grid; gap: 0.5rem;"
  [style.grid-template-columns]="'repeat(' + headersCounter + ', 1fr)'">

    <div class="grid-row">
        @for (header of headers; track header) {
            <div class="cell-title">
                {{ header }}
            </div>
        }
    </div>
    @for (obj of templateData().objects; track obj.id) {
        <div class="grid-row">
            <div class="cell-title">
                {{ obj.description }}
            </div>
            @for (mov of obj.movimientos; track mov.id) {
                <div class="cell-content">
                    {{ mov.amount }}
                </div>
            }
            <div class="cell-title">
                {{  obj.description }} 
            </div>
        </div>
    }
    <div class="grid-row">
        @for (footer of footers; track footer) {
            <div class="cell-title">
                {{ footer }}
            </div>
        }
    </div>

</div>