.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 columnas iguales */
  gap: 0.5rem; /* opcional, separación entre celdas */
}

.grid-row {
  display: contents; /* hace que cada hijo se ubique directamente en la grilla */
}

.cell-title {
  font-weight: bold;
  height: 3rem;
  grid-column: span 1; /* ocupa 1 fracción (una columna) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-column {
  height: 3rem;
  grid-column: span 1; /* ocupa 1 fracción (una columna) */
  display: flex;
  justify-content: center;
  align-items: center; /* línea divisoria */
}

.cell-footer {
  margin-top: 1rem;
  grid-column: span 1; /* ocupa 1 fracción (una columna) */
  padding-right: 2rem;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.cell-content {

  .cell-input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: none;                 // eliminamos todos los bordes
    border-bottom: 1px solid #ccc; // solo la línea inferior
    border-radius: 0;              // sin bordes redondeados
    text-align: right;
    outline: none;
  }
}

